{
    "presets": [
        "react",
    ],
    "env": {
        "test": {
            "plugins": [
                "transform-class-properties",
                "transform-object-rest-spread",
            ],
            "presets": [
                "env"
            ]
        }
    }
}
